# dependencies
node_modules/

data/
scripts/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# misc
coverage/